<div class="full-player-list" *ngIf="!filterByName">
  <div class="player-list-item full-list-item" *ngFor="let player of roster">
    <div class="item-container">
      <div>
        <a href="{{player.profileURL}}">{{player.name}}</a>
      </div>
      <div>
        {{player.teamAbr}}
      </div>
    </div>
  </div>
</div>

<div class="filtered-player-list" *ngIf="filterByName">
  <div class="player-list-item filtered-list-item" *ngFor="let player of roster | nameFilter:filterByName">
    <a href="{{player.profileURL}}">{{player.name}}</a>
  </div>
</div>
