<div class="full-player-list" *ngIf="!filterByName">
  <div class="player-list-item full-list-item" *ngFor="let player of roster">
    <div class="item-container">
      <div>
        <a routerLink="/player/{{player.ID}}" (click)="goToPlayer(player)">{{player.name}}</a>
      </div>
      <div>
        <img class="team-thumb" src="{{player.teamImgURL}}">
      </div>
    </div>
  </div>
</div>

<div class="filtered-player-list" *ngIf="filterByName">
  <div class="player-list-item filtered-list-item" *ngFor="let player of roster | nameFilter:filterByName">
    <a (click)="goToPlayer(player)">{{player.name}}</a>
  </div>
</div>
