<div class="header">
  <div class="header-image">
    <img src="{{player?.profileImgURL}}">
  </div>
  <div class="header-text-box">
    <div>{{player?.name}}</div>
    <div>#{{player?.jerseyNum}}</div>
    <div>{{player?.teamAbr}}</div>
    <div>{{player?.pos}}</div>
  </div>
</div>

<div class="season-stats-container">
  <h3>{{player?.name}}'s {{stats[1]}} Season Stats</h3>
  <p class="team-line"><img class="team-thumb" src="{{player?.teamImgURL}}"> {{stats[4]}}</p>
  <div class="stats-table">
    <div class="grid-row categories">
      (stat categories will go here)
    </div>

    <div class="grid-row values">
      (stat values will go here)
    </div>
  </div>
</div>
