
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.header-image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: lightgrey;
}

.header-text-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.header-text-box div {
  font-weight: bolder;
  font-size: 1.5rem;
}

.team-thumb {
  width: 40px;
  height: 40px;
}

.team-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
