.body-container {
  display: flex;
  margin: 0 auto;
}

.sidebar {
  box-sizing: border-box;
  width: 303px;
  height: 100vh;
  overflow: scroll;
}

.player-display-panel {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 10px;
}

.player {
  display: inline-grid;
  grid-row: span 1;
  grid-column: span 1;
  max-width: 100px;
}
